body {
	font: normal 16px Helvetica, Arial, sans-serif;
}
fieldset {
	width: 600px;
	padding: 0;
	margin: 0 auto;
	border: none;
}
dt {
	margin-bottom: 5px;
}
dd {
	margin: 0 0 25px 0;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
	width: 100%;
	height: 30px;
	padding: 3px 10px;
	font: normal 14px Helvetica, Arial, sans-serif;
	border: 1px solid #cecece;
	box-sizing: border-box;
}
textarea{
	height: auto;
	resize: vertical; /*letting the user resize textarea only vertically*/
}
ul{
	padding-left: 0;
	list-style: none;
	font-size: 14px;
}
dl.partial {
  display: inline-block;
  padding-right: 1.25rem;
  padding-left: 2rem;
  vertical-align: top;
  box-sizing: border-box;
}
dl.third {
  width: 33.3%;
}
dl.last { padding-right: 0; }
.st{
	margin: 1rem -3rem 0 2rem;
}
#state{
	margin-top: .41rem;
}
#zip {
	width: 60%;
}
