@import url("../whitespace-reset.css");

body {
  padding: 75px 0 0 0;
  margin: 0;
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #45494d;
  background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
}

a {
  text-decoration: none;
  color: #3e59b2;
}

.column {
  max-width: 1000px; /*this is max-width because otherwise it won't take up the whole screen width in media queries */
  margin: 0 auto;
}

nav {
  padding: 0 0 35px 0;
  font-size: 24px;
  text-transform: uppercase;
}

nav ul { padding: 0; }

nav li {
  display: inline;
  padding: 0 42px; /* 42px = 84, which is the actual distance btw them/2 */
}

nav a {
  color: #cacaca;
}

nav a.active {
  font-weight: bold;
  color: #6db9ff;
}

main {
  padding: 100px 0 0 0;
  background: #ffffff;
}

h1 a {
  display: block;
  width: 298px;
  height: 243px;
  margin: 0 auto 50px auto;
  text-indent: -9000px; /* getting rid of the h1 a text */
  background: transparent url("images/logo.png") 0 0 no-repeat;
}

h2 {
  font-size: 36px;
  font-weight: 600; /* 600 = bold */
}
h2:before,
h2:after {
  display: inline-block;
  padding: 0 24px;
  font-size: 22px;
  vertical-align: 5px;
  content: "\2022"; /* this is a unicode property for bullets */
}

h3 {
  font-size: 24px;
  color: #3e59b2;
}

article {
  padding: 0 110px 100px 110px;
}


 article p {
    text-align: justify; /* makes the indents at both sides of the article dissapear */
  }

footer {
  padding: 75px 0;
  color: #b2b2b2;/* the text color in PS is sth else because of Color Overlay. To find out the actual color double click the layer, click Color Overlay and then on the color box */
  background: #e7e7e7;
}

footer p {
  padding: 0 0 40px 0;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
  padding: 0 62px;
}

footer li a {
  display: block;
  width: 46px;
  height: 46px;
  text-indent: -8685px;/* that's how we get rid of the Twitter, Facebook etc. titles */
  overflow: hidden; /* making sure the text that goes beyond width&height is not visible */
  background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}
footer li a.facebook { background-position: 0 -46px; }
footer li a.email { background-position: 0 -92px; }
footer li a.instagram { background-position: 0 -138px; }

#projects article {
  padding: 0 0 50px 0;
}

#projects article + article { /* '+' selects the articles placed immediately after projects article */
  padding-top: 60px;
}

#projects article p {
  padding: 0 110px;
  margin: 0;
}

#projects figure {
  padding: 0 30px 20px 30px;
  margin: 0;
}

#projects figure img {
  display: block; /* img elements are display: inline by default, so we change this to display: block to make sure they do not exhibit extra bottom padding due to the inherited line height (inline elements are subject to line height and vertical alignment, while block elements are not) */
  width: 100%;
}

#team article {
  padding: 0 0 100px 0;
}

#team p {
  padding: 0 110px 100px 110px;
}

#team ul { padding: 0; }

#team li {
  display: inline-block;
  padding: 0 30px;
  font-size: 24px;
}

#team li img {
  display: block;
  margin: 0 0 20px 0;
}

@media (max-width: 875px) {
  #team li {
    width: 48%;
    padding: 0 0 30px 0;
  }

  #team li img {
    margin: 0 auto;
  }
}
/* Tablet design */
@media (max-width: 768px) {
  body {
    padding-top: 45px;
  }

  h1 a {
    width: 223px;
    height: 182px;
    margin-bottom: 30px;
    background-size: cover; /* This scales the background image to be as large as possible so that the background area is completely covered by the background image */
  }

  nav {
    padding-bottom: 50px;
  }

  main {
    padding-top: 40px;
  }

  article {
    padding: 0 40px 50px 40px;
  }

  footer {
    padding: 35px 0;
  }

  footer li {
    padding: 0 32px;
  }

  #projects article p {
    padding: 0 30px;
  }
}

/* Mobile design */

@media (max-width: 480px) {
  body {
    padding: 0;
    font-size: 16px;
  }

  body > header { /* selects all header elements where the parent is the <body> element */
    padding: 15px 20px;
  }

 h1 {
    float: left;
    margin: 20px 0 0 0;
  }

  h1 a {
    width: auto; /* getting back to the default width of the element (otherwise it would be 298px) */
    height: 40px; /* this is the height of the icon, i.e. it won't show the "Space Design" text below it */
    padding: 10px 0 0 55px;
    text-indent: 0; /* making the h1 a text visible */
    font-size: 22px;
    color: #ffffff;
    background-position: -20px 0; /* -20px horizontally, 0 vertically */
    background-size: 90px auto; /* 90px wide, auto height */
  }

  h2 { font-size: 26px; }

  h2:before,
  h2:after {
    vertical-align: 0;
  }

  h3 { font-size: 22px; }

  nav {
    font-size: 16px;
    text-align: right;
  }

  nav ul {
    margin: 0;
  }

  nav li {
    display: block;
    padding: 5px 0;
  }

  footer {
    padding: 20px 0;
  }

  footer li {
    padding: 0 18px;
  }

  #team p {
    padding: 0 30px 40px 30px;
  }
}